.App {
  text-align: center;
  background-color: rgb(20, 52, 54)
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: none;
}

div a:hover {
  text-decoration: none;
  color: rgb(28, 206, 197);
  font-weight: bold 
}

.content {
  padding: 15px;
  background-color: rgb(139, 222, 228);
  border-radius: 0px 0px 5px 5px;
}

.contentTitle {
  background-color: rgb(171, 238, 235);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  padding: 15px;
  
}